:root {
  --primaryColor: rosybrown;
}

.layout{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* header{
  background: lightpink;
  padding: 2rem;
  text-align: center;
}

main{
  background: coral;
  text-align: center;
}

footer{
  background: wheat;
  padding: 2rem;
  text-align: center;
} */
